#pixelArt{
    float:left;
    margin:50px 20px 30px 30px;
    height:576px;
    width:576px;
}

#main{
    height:656px;
}

#main table,td{
    border-collapse: collapse;
    border:1px solid darkgrey;
}

#main td{
    height:17px;
    width:17px;
}

#main #content{
    margin-left:100px;
    width:300px;
    float:left;
}

#main div#colorPalet{
    width:300px;
    padding-top:50px;
}

#main div#currentColor{
    border: medium solid black;
    margin-bottom:20px;
    height:150px;
    width:100%;
    box-sizing: border-box;
}

#main button.colorButton{
    height:60px;
    width:60px;
    margin:10px;
}

#buttonRed{
    background-color: red;
}
#buttonGreen{
    background-color: green;
}
#buttonBlue{
    background-color: blue;
}
#buttonYellow{
    background-color: yellow;
}
#buttonCyan{
    background-color: cyan;
}
#buttonPurple{
    background-color: purple;
}
#buttonBlack{
    background-color: black;
}
#buttonWhite{
    background-color: white;
}
#savePixelArt{
    display: flex;
	justify-content: space-between;
}
div#undoNextButton{
    width:40px;
    margin-top:50px;
    float:left;
}
div#errorMessage{
    margin-top:10px;
    font-size: 13px;
}
a#toLink{
    text-decoration: none;
    color:inherit;
}
div#backgroundColorButtons {
    margin-top:80px;
    margin-left:80px;
    width:50px;
    float:left;
}

div#backgroundColorButtons img{
    margin-left:10px;
}


div#backgroundColorButtons button.colorButton{
    width:40px;
    height:40px;
}
#saveName{
    height:30px;
    width:300px;
}
#buttonSave{
    height:35px;
    width:50px;
}
#buttonShine{
    margin-right:100px;
    height:35px;
    width:100px;
}
#buttonDelete{
    height:50px;
    width:50px;
}